/* Global */
body *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  transition: .3s background;
}
body *::-webkit-scrollbar-thumb {
  background: #ced4da;
}
/* Grid */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 576px){
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px){
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px){
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 1200px){
  .col-xl-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* Card */
.text-white, .text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6 {
  color: #fff !important;
}
.bg-danger {
  background: #f82649!important;
}
.bg-success {
  background: #09ad95!important;
}
.bg-secondary {
    background: #d43f8d !important;
}
.box-primary-shadow {
  box-shadow: 0 5px 10px rgba(94, 45, 216, 0.3);
}
.box-secondary-shadow {
    box-shadow: 0 5px 10px rgba(167, 66, 153, 0.3);
}
.box-success-shadow {
    box-shadow: 0 5px 10px rgba(19, 191, 166, 0.3) !important;
}
.card {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid transparent;
  background-clip: border-box;
  border-radius: 5px;
  box-shadow: 0 8px 24px #e5e4e6;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 0;
  padding: 1.5rem 1.5rem;
  position: relative;
}
.card-body> :last-child {
  margin-bottom: 0;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.number-font {
  font-weight: 600 !important;
}
.mb-0, .my-0 {
  margin-bottom: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.ml-auto, .mx-auto {
  margin-left: auto !important;
}
.img-card:before {
  content: '';
  position: absolute;
  background: url(../images/circle.svg);
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.img-card img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}
.img-card p{
  text-transform: uppercase;
}
.sumber_data {
  font-size: 12px !important;
  text-align: center !important;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.info-wrap{
  position: relative;
}
.info-wrap .icon{
  background-image: url(../images/info-bubble.svg);
  width: 12px;
  height: 12px;
  background-size:contain;
  display: inline-block;
  background-repeat: no-repeat;
}
.info-wrap .text{
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 140%;
  visibility: hidden;
  background-color: #333;
  font-size: .6rem;
  width: 100px;
  color: #FFF;
  padding: 5px;
  border-radius: 5px;
  line-height: 1.2;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.info-wrap .icon:hover~.text{
  visibility: visible;
}

/* Table */
.table-responsive {
  display: block;
  width: 100%;
  height: 550px;
  overflow-x: auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
